<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf" />
  </configSections>
  <startup>
  </startup>
  <modules>
    <module assemblyFile="ProjectMgmtModule.dll" moduleType="ProjectMgmtModule.ProjectMgmtModule, ProjectMgmtModule, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="ProjectMgmtModule" startupLoaded="True" />
    <module assemblyFile="ParametersMgmtModule.dll" moduleType="ParametersMgmtModule.ParametersMgmtModule, ParametersMgmtModule, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="ParametersMgmtModule" startupLoaded="True" />
  </modules>
</configuration>